body {
    width: 100vw;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}

.main {
    height: 94vh;
    overflow: scroll;
}

@media screen and (max-width: 900px) {
    body {
        flex-direction: column-reverse;
    }
}


/*---------------------------------------------------------------------------HEADER--------------------------------------------------------------------------------------------------------------*/

.headerBody {
    background-color: white;
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 1;
}

.iconMenu {
    height: 20px;
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.elementheader {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Noto Sans Display', sans-serif;
    color: black;
}

@media screen and (max-width: 900px) {
    .sidebar {
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {}


/*-----------------------------------------------------------------------------HOME--------------------------------------------------------------------------------------------------------------*/

.home {
    min-height: 800px;
    width: 100vw;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./image/backgroundhome.jpg);
    filter: grayscale(10%);
    background-position: bottom;
    background-size: cover;
}


/*.home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.448) ;    
    z-index: -1; 
}*/

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    position: relative;
    top: 150px;
}

.sizeLogo {
    height: 100px;
    width: 100px;
    margin-left: 160px;
    display: inline-block;
    animation: rotation 15s linear infinite;
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tailletitre {
    color: white;
    font-size: 5em;
    font-family: 'Noto Sans Display', sans-serif;
    margin-bottom: 0;
    margin-left: 160px;
    margin-right: 160px;
}

.taillesoustitre {
    color: rgb(155, 155, 155);
    font-size: 2em;
    font-family: 'Noto Sans Display', sans-serif;
    margin-top: 0;
    margin-left: 160px;
    margin-right: 160px;
}

@media screen and (max-width: 900px) {
    .sizeLogo {
        margin-left: 10px;
    }
    .tailletitre {
        margin-left: 10px;
        margin-right: 10px;
    }
    .taillesoustitre {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 400px) {
    .sizeLogo {
        margin-left: 10px;
    }
    .tailletitre {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 3em;
    }
    .taillesoustitre {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 2em;
    }
    .logo {
        position: relative;
        top: 100px;
    }
    .home {
        min-height: 600px;
    }
}


/*---------------------------------------------------------------------------PROFILE----------------------------------------------------------------------------------------------------------*/

.profile {
    min-height: 800px;
    width: 100vw;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photoprofile {
    width: 500px;
}

.elementprofile {
    display: flex;
    flex-direction: column;
}

.titreElementProfile {
    font-family: 'Noto Sans', sans-serif;
    font-size: 5em;
    line-height: 1;
}

.descriptionProfile {
    margin-top: 0;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.2em;
}

.elementprofile2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 15px;
}

.boutton {
    text-decoration: none;
    display: block;
    height: 45px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.1em;
    color: white;
    background-color: rgb(131, 92, 246);
}

.flecheBas {
    display: block;
    font-size: 1.5em;
    margin-top: 3px;
    margin-left: 5px;
    transform: rotate(90deg);
}

.flecheDroite {
    display: block;
    font-size: 1.5em;
    margin-left: 5px;
}

@media screen and (max-width: 610px) {
    .photoprofilebox {
        display: flex;
        justify-content: center;
    }
    .photoprofile {
        width: 80%;
    }
    .titreElementProfile {
        font-size: 3em;
    }
}

@media screen and (max-width: 460px) {
    .titreElementProfile {
        font-size: 2.5em;
    }
    .elementprofile {
        margin-left: 15px;
    }
    .descriptionProfile {
        font-size: 1em;
    }
    .boutton {
        height: 45px;
        width: 120px;
        font-size: 0.9em;
    }
}


/*--------------------------------------------------------------------------SERVICE---------------------------------------------------------------------------------------------------------*/

.service {
    min-height: 800px;
    width: 100vw;
    margin: 0%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.titreService {
    display: flex;
    justify-content: center;
}

.titreservice {
    color: white;
    font-size: 4em;
    font-family: 'Noto Sans Display', sans-serif;
}

.imageService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    background-image: url(./image/bg.jpg);
    background-position: center;
    min-height: 400px;
}

.listeService {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.elementBlockService {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 20%;
}

.iconsService {
    height: 60px;
}

.titreIconsService {
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    text-align: center;
}


/*--------------------------------------------------------------------------CLIENTS-------------------------------------------------------------------------------------------------------*/

.clients {
    min-height: 800px;
    width: 100vw;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.titreClients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    text-align: justify;
    margin-left: 70px;
}

.titreclients {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 4em;
    color: rgb(131, 92, 246);
    text-align: start;
}

.texteclients {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.1em;
}

.clientsdeux {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.imageCollaborateur {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 350px;
    width: 400px;
    margin: 20px;
    margin-bottom: 40px;
}

.textecollaborateur {
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.5em;
    white-space: pre;
}

@media screen and (max-width: 1320px) {
    .titreClients {
        margin-left: 50px;
    }
    .titreclients {
        font-size: 3.5em;
    }
    .texteclients {
        font-size: 1em;
    }
    .imageCollaborateur {
        height: 300px;
        width: 330px;
    }
    .clientsdeux {
        justify-content: space-evenly;
        margin-top: 60px;
    }
}

@media screen and (max-width: 500px) {
    .titreClients {
        margin: 15px;
    }
    .titreclients {
        font-size: 2.3em;
    }
    .texteclients {
        font-size: 0.9em;
    }
    .clientsdeux {
        margin: 10px
    }
    .imageCollaborateur {
        height: 270px;
        width: 300px;
    }
}


/*---------------------------------------------------------------------------CITATION----------------------------------------------------------------------------------------------------*/

.citation {
    min-height: 800px;
    width: 100vw;
    margin: 0%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.elementCitation {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.textecitation {
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 3em;
    color: white;
}

.elementCitationDeux {
    color: rgb(63, 63, 63);
    font-size: 2em;
    font-family: 'Noto Sans Display', sans-serif;
}


/*-----------------------------------------------------------------------EN SAVOIR PLUS------------------------------------------------------------------------------------------------*/

.enSavoirPlus {
    min-height: 800px;
    width: 100vw;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.titreEnSavoirPlus {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2.5em;
    color: rgb(131, 92, 246);
    margin-top: 50px;
}

.soustitreEnSavoirPlus {
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.7em;
}

.description {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.descriptionEnSavoirPlus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 320px;
}

.titreElementDescription {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: end;
    font-size: 1.4em;
    white-space: pre;
    margin-bottom: 0%;
    width: 100%;
}

.texteElementDescription {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: end;
    font-size: 1.2em;
    width: 100%;
    margin-top: 0%;
}

.imageElementDescription {
    height: 100%;
}

.descriptionDeux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imageElementDescriptionDeux {
    height: 450px;
    width: 700px;
}

.titreElementDescriptionDeux {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: justify;
    font-size: 1.4em;
    margin-bottom: 0%;
    width: 100%;
}

.texteElementDescriptionDeux {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: justify;
    font-size: 1.2em;
    width: 100%;
    margin-top: 0%;
}

.footerEnSavoirPlus {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}


/*-----------------------------------------------------------------------CONTACTS-------------------------------------------------------------------------------------------------------------------*/

.contacts {
    min-height: 800px;
    width: 100vw;
    margin: 0%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.elementContacts {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.titreContacts {
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 3em;
    margin-top: 100px;
}

.imageElementContacts {
    width: 100%;
}

.texteElementContacts {
    font-family: 'Noto Sans Display', sans-serif;
    color: rgb(110, 105, 105);
    font-size: 2em;
}

.elementContactsDeux {
    width: 35%;
    border: 5px solid white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prendreRdv {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2.5em;
    text-decoration: none;
    color: white;
    gap: 30px;
}

.logoCalender {
    height: 50px;
    width: 50px;
    border: 3px solid white;
    object-fit: none;
    border-radius: 50%;
}

.texteContact {
    color: white;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 2em;
}

.logoContacts {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.icon {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    object-fit: contain;
    border-radius: 50%;
}

.borderRondIcon {
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconTelephone {
    height: 35px;
    width: 35px;
    object-fit: contain;
}

.consultezMesTarifs {
    width: 80%;
    border: 2px solid white;
    border-radius: 50px;
    margin-top: 38px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mesTarifs {
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    font-size: 1.7em;
    display: flex;
    margin: 20px;
}

@media screen and (max-width: 900px) {
    .elementContacts {
        width: 80%;
    }
    .elementContactsDeux {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 400px) {
    .elementContactsDeux {
        border: none;
    }
}